@charset "UTF-8";

/* CSS RESETS */

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,ol, ul, li,
caption, article, aside, canvas, figure, figcaption, footer, header, 
menu, nav, section, audio, video, img {
	margin: 0;
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/*micro-clearfix by Nicolas Gallagher http://nicolasgallagher.com/micro-clearfix-hack/*/
/* For modern browsers */
.cf:before, .cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}